h1 {
    text-align: center;
    font-weight:400;
}
.main {
    margin: 0 auto;
}
.temp {
    font-size: 120px;
    cursor:pointer;
}
.temp-2 {
    font-size: 30px;
    font-weight: 600;
    color: #b92e2e;
}
.temp-unit {
    font-size: 0.4em;
}
.temp-unit-2 {
    font-size: 0.4em;
}
.temp-degrees {
    font-size: 0.5em;
    vertical-align: top;
}
.temp-degrees-2 {
    font-size: 0.5em;
    vertical-align: top;
}
.temp-reported-time{
    font-weight:600;
    color:#5f8aaf;
    font-style: italic;
    text-align:center;
    font-size:20px;
}
.misc-data {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size:20px;
    }
.humidity {
    font-weight: 600;
    color: #667B82;

}
.datetime {
    font-weight: 600;
    font-style: italic;
    text-align:center;
    color: #5f8aaf;
}
.hourly-forecast {
    width:100%;
    overflow-x: auto;
    height: 130px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    white-space:nowrap;
}
.hourly-forecast-box {
    width:45px;
    height:45px;
    padding:3px;
    display:inline-block;
    background-color: #b9cee0;
    border: 1px #ececec solid;
    border-radius:5px;
    margin:3px;
    vertical-align: top;
    white-space: normal;
}
