h1 {
    text-align: center;
    font-weight:400;
}
.main {
    margin: 0 auto;
}
.temp {
    font-size: 120px;
    cursor:pointer;
}
.temp-2 {
    left: 280px;
    font-size: 30px;
    font-weight: 600;
    color: #b92e2e;
    display: inline-block;
    position: absolute;
    right: 0px;
    margin-top: 20px;
}
.temp-unit {
    font-size: 0.4em;
}
.temp-unit-2 {
    font-size: 0.4em;
}
.temp-degrees {
    font-size: 0.5em;
    vertical-align: top;
}
.temp-degrees-2 {
    font-size: 0.3em;
    margin-top: 0.3em;
    position: absolute;
}
.temp-reported-time{
    font-weight:600;
    color:#5f8aaf;
    font-style: italic;
    text-align:center;
    font-size:20px;
}
.misc-data {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size:20px;
    }
.humidity {
    font-weight: 600;
    color: #667B82;

}
.datetime {
    font-weight: 600;
    font-style: italic;
    text-align:center;
    color: #5f8aaf;
}
.hourly-forecast {
    width:100%;
    overflow-x: auto;
    height: 130px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    white-space:nowrap;
}
